*.log
.CFUserTextEncoding
.DS_Store
.RData
.Rhistory
.Trash/
.Xauthority
.bash_history
.bash_history
.bash_logout
.bash_profile
.bash_sessions/
.bashrc
.bundle/
.byobu/
.cache
.cache/
.cargo/
.compose-cache
.conan/
.conda/
.condarc
.config/.gsd-keyboard.settings-ported
.config/Authy Desktop/
.config/Bitwarden
.config/BraveSoftware/
.config/GIMP/
.config/GeoGebra/
.config/NVIDIA*
.config/Portmaster/
.config/QtProject.conf
.config/RStudio/
.config/Unknown Organization/
.config/VA_11_Hall_A/
.config/VirtualBox/
.config/alacritty
.config/autostart
.config/bitburner/
.config/btop/
.config/cef_user_data/
.config/dconf
.config/discord*
.config/dleyna-server-service.conf
.config/dolphin-emu/
.config/enchant/
.config/environment.d/
.config/fastfetch/
.config/fontconfig/
.config/gedit/
.config/gnome-control-center/
.config/gnome-session
.config/goa-1.0
.config/gtk-2.0/
.config/gtk-3.0
.config/gtk-3.0/
.config/gtk-4.0
.config/gwe/
.config/hakuneko-desktop/
.config/htop/
.config/hypr/
.config/ibus
.config/inkscape/
.config/kde.org/
.config/kdeconnect/
.config/kglobalshortcutsrc
.config/kitty/
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/libvirt/
.config/matplotlib
.config/mimeapps.list
.config/mpv/
.config/nvim/
.config/obs-studio/
.config/okular.kmessagebox
.config/okularrc
.config/openrazer/
.config/pavucontrol.ini
.config/polychromatic/
.config/protonvpn/
.config/pulse/
.config/pupgui/
.config/qBittorrent/
.config/qutebrowser/
.config/qutebrowserrc
.config/retroarch/
.config/rofi/
.config/rstudio/
.config/rygel.conf
.config/screengrab/
.config/spectaclerc
.config/stacer/
.config/starship.toml
.config/systemd/
.config/tlpui
.config/tmux/tmux.conf
.config/tuta_integration/
.config/tutanota-desktop/
.config/unity3d/
.config/user-dirs.*
.config/user-dirs.dirs/
.config/user-dirs.locale/
.config/vifm/
.config/waybar/
.config/whatsapp-for-linux/
.config/whatsdesk/
.config/wireshark/
.config/zathura/zathurarc
.config/zoom.conf
.config/zoomus.conf
.cups/
.dmrc
.eclipes/
.fehbg
.fig/
.fontconfig/
.gitconfig
.gnupg/
.gtkrc-2.0
.hyprland/
.icons/
.java/
.karaf/
.lesshst
.local/
.lyxauth
.macromedia/
.mozilla/
.nix-channels
.nix-defexpr
.nix-profile
.nixpkgs/
.npm/
.nv/
.nvidia-settings-rc
.openjfx/
.pki
.pki/
.profile
.pulse-cookie
.python_history
.qutebrowser/
.rustup/
.sage/
.sage/cache/
.sage/temp/
.screenrc
.ssh/
.steam/
.steampath
.steampid
.vim/
.viminfo
.vimrc
.wget-hsts
.wine/
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zoom/
.zsh_history
.zsh_sessions/
.zshenv
.zshrc
Applications/
COMMIT_EDITMSG
CoexpressionNetworks/
CytoscapeConfiguration/
Desktop/
Documents/
Dotfiles/
Downloads/
FETCH_HEAD
FFAL/
HEAD
HTB/
Head_First_C/
LDPC/
Library/
MATE4996
MATE8990/
Mathematics/
Movies/
Music/
ORIG_HEAD
Pictures/.localized
Pictures/Photos Library.photoslibrary/
Pictures/Screenshots
Public/
R/
THM/
Version_randomized.dsv
Videos/
VirtualBox VMs/
Zomboid/
aematrp.github.io/
azabelmena.github.io/
biolinux_work/
blog/
boqueron/
build-bio-linux
class_notes/
compsci/
config
cuda_by_example/
data/
description
emulation/
extra_storage
finite_field/
galois-cuda/
galois/
games
gc.log
gene_Regulatory/
geogebra/
go/
gpu_cuda/
hooks/
images/
index
index.lock
info/
logs/
mathematics/
mountpoints/
notes/
objects/
packed-refs
prlsamp
protonvpn/
refs/
result
router_hacking/
scripts/
storage
testdisk.log
