Dotfiles/
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/Bitwarden/Cache/081c5fae8a8591f3_0
.config/Bitwarden/Cache/090122aee9e20949_0
.config/Bitwarden/Cache/0fd7014040b8d767_0
.config/Bitwarden/Cache/2fc35373ef1f1e97_0
.config/Bitwarden/Cache/41016044c979dcc8_0
.config/Bitwarden/Cache/44569068ecd3b530_0
.config/Bitwarden/Cache/67d52b41a0ec1b73_0
.config/Bitwarden/Cache/6f0c8b18b0dea836_0
.config/Bitwarden/Cache/75960c1923652798_0
.config/Bitwarden/Cache/7a3a75a83c09386f_0
.config/Bitwarden/Cache/911ec52de2611b09_0
.config/Bitwarden/Cache/93f066d7ad390a8b_0
.config/Bitwarden/Cache/9559fb9166160f86_0
.config/Bitwarden/Cache/b86e9a371440b38d_0
.config/Bitwarden/Cache/c7c697526b4644e8_0
.config/Bitwarden/Cache/d6fce14646cc58bd_0
.config/Bitwarden/Local Storage/leveldb/LOG
.config/GeoGebra/
.config/QtProject.conf
.config/Unknown Organization/
.config/VirtualBox/
.config/cef_user_data/
.config/discord/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gwe/
.config/hakuneko-desktop/
.config/htop/
.config/inkscape/
.config/kde.org/
.config/kdeconnect/
.config/kglobalshortcutsrc
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/pulse/43c700cfde464ed19c800eb557a9bed8-card-database.tdb
.config/pulse/43c700cfde464ed19c800eb557a9bed8-default-sink
.config/pulse/43c700cfde464ed19c800eb557a9bed8-default-source
.config/pulse/43c700cfde464ed19c800eb557a9bed8-device-volumes.tdb
.config/pulse/43c700cfde464ed19c800eb557a9bed8-stream-volumes.tdb
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zoomus.conf
.dmrc
.fehbg
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.lyxauth
.mozilla/
.pki/
.pulse-cookie
.python_history
.screenrc
.ssh/
.steam/
.steampath
.steampid
.viminfo
.wget-hsts
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zoom/
.zsh_history
2022-01-19-21-41-01.027-VBoxSVC-39920.log
COMMIT_EDITMSG
Desktop/
Documents/
Downloads/
FETCH_HEAD
HEAD
HTB/
Head_First_C/
Mathematics/
ORIG_HEAD
Pictures/
THM/
compsci/
description
config
gc.log
go/
hooks/
index
index.lock
info/
logs/
notes/
objects/
packed-refs
refs/
.config/alacritty
.config/Bitwarden
.config/cef_user_data
.config/dconf
.config/discord
.config/GeoGebra
.config/gnome-session
.config/gtk-2.0
.config/gtk-3.0
.config/gwe
.config/hakuneko-desktop
.config/htop
.config/ibus
.config/inkscape
.config/kde.org
.config/kdeconnect
.config/kglobalshortcutsrc
.config/kritadisplayrc
.config/kritarc
.config/libreoffice
.config/matplotlib
.config/mpv
.config/pulse
.config/QtProject.conf
.config/spectaclerc
.config/Unknown Organization
.config/user-dirs.dirs
.config/user-dirs.locale
.config/VirtualBox
.config/zoomus.conf
.config/Bitwarden
mountpoints/
prlsamp
.config/qBittorrent/
.config/vifm/vifminfo.json
.nvidia-settings-rc
.config/libvirt/
VirtualBox VMs/
MATE8990/
.config/vifm/vifminfo.json
scripts/cm
MATE4996
.config/whatsdesk/
.conan/
.config/obs-studio/
Videos/
blog/
finite_field/
mathematics/
.byobu/
.config/bitburner/
.config/BraveSoftware/
.config/tlpui
.config/okular.kmessagebox
.config/okularrc
.config/unity3d/
build-bio-linux
.Rhistory
.config/RStudio/
.config/btop/
.config/rstudio/
.wine/
scripts/latex-clean
.config/enchant/
.config/screengrab/
.rustup/
scripts/optimus-status
testdisk.log
.java/
.config/Bitwarden\ CLI
.config/openrazer/
.config/polychromatic/
.config/Authy Desktop/
.config/whatsapp-for-linux/
.npm/
.config/mimeapps.list
.config/Vieb/blob_storage
.config/Vieb/blocklists
.config/Vieb/Cache
.config/Vieb/Code\ Cache
.config/Vieb/commandhist
.config/Vieb/Crashpad
.config/Vieb/Dictionaries
.config/Vieb/dls
.config/Vieb/explorehist
.config/Vieb/favicons
.config/Vieb/GPUCache
.config/Vieb/hist
.config/Vieb/Local\ Storage
.config/Vieb/Network\ Persistent\ State
.config/Vieb/Partitions
.config/Vieb/Session\ Storage
.config/Vieb/SingletonCookie
.config/Vieb/SingletonLock
.config/Vieb/SingletonSocket
.config/Vieb/tabs
.config/Vieb/webviewsettings
.config/Vieb/windowstate
.config/GIMP/
class_notes/
scripts/graphics-mode
.config/dolphin-emu/
.config/qutebrowser/__pycache__
.config/qutebrowser/qsettings/QtProject.conf
.config/.gsd-keyboard.settings-ported
.config/gnome-session
.config/mpv
.config/goa-1.0
.config/gtk-3.0
.config/autostart
.config/gtk-4.0
.config/pulse
.config/gwe
.config/qBittorrent
.config/Unknown Organization
.config/htop
.config/QtProject.conf
.config/cef_user_data
.config/ibus
.config/whatsapp-for-linux
.config/dconf
.config/discord
.config/matplotlib
.config/zoomus.conf
galois/
galois-cuda/
emulation/
.bundle/
.config/Portmaster/
.config/wireshark/
azabelmena.github.io/
.config/zoom.conf
.nv/
CoexpressionNetworks/
R/
biolinux_work/
gpu_cuda/
.fontconfig/
.vim/plugged/
games
extra_storage
.config/NVIDIA*
.eclipes/
.config/retroarch/content_history.lpl
.config/retroarch/retroarch.cfg
.config/retroarch/saves/Pokemon - Platinum
Version_randomized.dsv
.config/pavucontrol.ini
.config/qutebrowser/bookmarks/
.RData
.config/dleyna-server-service.conf
.config/gedit/
.config/gnome-control-center/
.config/retroarch/autoconfig/
.config/rygel.conf
.config/stacer/
.fig/
.karaf/
.openjfx/
boqueron/
cuda_by_example/
gene_Regulatory/
images/
router_hacking/
storage
CytoscapeConfiguration/
.config/tutanota-desktop/
.config/tuta_integration/
.conda/
.condarc
.hyprland/
.macromedia/
Zomboid/
data/
.bash_history
.cache
.compose-cache
.hyprland
.lesshst
.local
.nix-defexpr
.nix-profile
.pki
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.sage/cache/
.sage/temp/
scripts/nixcp
hardware-configuration.nix
.config/environment.d/
.vim/.netrwhist
flake.lock
